# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Web build output (optionnel à versionner)
# Décommente si tu NE veux PAS versionner le build web
# build/web/

# IDEs
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment / secrets
.env
.env.*
