name: wedding_website
description: Site de mariage pour Joanne et Pierre
publish_to: 'none'

version: 1.0.0+1

environment:
    sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  go_router: ^13.2.0
  google_fonts: ^6.1.0

  
  # Ajout du support de localisation et du package Intl pour la traduction
  flutter_localizations:
    sdk: flutter
  intl: 0.20.2

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/images/